*{
    box-sizing: border-box;
}
html{
    font-size: 62,5%;
}
body{
    background-color: whitesmoke;
}
nav{
    background-color: white;
    position: sticky;
    top: 0; left: 0;
}
.contenedor{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.d-flexbox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}
.formulario2{
    @extend.formulario;
    width: 100%;
    margin: 50px;
}
.spacing{
    @include spacing (5px auto, 10px);
}
.button-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    @include spacing (15px 3px,10px);
    background-color: rgb(207, 203, 203);
    border: 4px solid yellow;
    border-radius: 10px;
    &:hover{
        background-color: rgb(170, 168, 168);
        border: 4px solid yellow;
    }
}
.img{
    display: flex;
}
span.text-dark{
    padding-left: 8px;
}
.order-ticket{
    height: 50px;
    background-color: gainsboro;
    justify-content: center;
}
.order-ticket2{
    @extend .order-ticket;
    height: 40px;
    background-color: rgb(194, 190, 190);
    align-items: center;
}
h1{
    font-size: 2.2rem;
    margin: 20px auto;
}

div{
    span.direction{
        font-size: 1.1rem;
        margin: 5px;
    }
    svg{
        fill: yellow;
        width: 30px;
        padding: 5px;
    }
}
button{
    border: 2px yellow solid;
    border-radius: 10px;
    @include spacing(7px, 5px);
    background-color: rgb(207, 203, 203);
    a{
        text-decoration: none;
        color: black;
    }
    &:hover{
        background-color: rgb(170, 168, 168);
        border: 2px solid yellow;
    }
}
.error{
    color: rgba($color: #9c2626, $alpha: 1);
    background-color: rgba($color: #ff0000, $alpha: .5);
    border-radius: 5px;
    padding: 5px;
}

.realizado{
    color: rgba($color: #18983f, $alpha: 1.0);
    background-color: rgba($color: #2fdd63, $alpha: .5);
    border-radius: 5px;
    padding: 5px;
}

.display {
    display: none;
}

.pages{
    display: flex;
    justify-content: center;
    @include spacing(5px, 5px);
}
footer{
    background-color: white;
    padding: 15px;
    display: flex;
    p{
        margin: auto 15px;
    }
}
